[submodule "docs/EiffelVis/themes/hugo-coder"]
	path = docs/EiffelVis/themes/hugo-coder
	url = https://github.com/luizdepra/hugo-coder.git
[submodule "docs/EiffelVis/themes/syna"]
	path = docs/EiffelVis/themes/syna
	url = https://git.okkur.org/syna
[submodule "docs/EiffelVis/themes/themes/syna"]
	path = docs/EiffelVis/themes/themes/syna
	url = https://git.okkur.org/syna
[submodule "docs/EiffelVis/themess/syna"]
	path = docs/EiffelVis/themess/syna
	url = https://git.okkur.org/syna
